body {
    background-color: #ffe6cc;
}

p {
    font-family: sans-serif;
    color: black;
    text-align: left;
    font-size: large;
}

h1 {
    font-family: sans-serif;
    color: black;
    text-align: left;
    text-decoration: dotted;
    font-size: 50px;
    border-bottom: 6px black;
}

h2 {
    font-family: sans-serif;
    color: black;
    text-align: left;
    border-left: 6px solid black;
    font-size: xx-large;
}

h3 {
    font-family: sans-serif;
    color: black;
    text-align: left;
    border-left: 6px solid black;
    font-size: x-large;
}

h4 {
    font-family: sans-serif;
    color: black;
    text-align: left;
    border-left: 6px solid black;
    font-size: x-large;
}
